html, body {height:100%}

body{
  font-family:"Arial";
  background-image:url("images/games.webp");
  background-position:center;
  background-attachment:fixed;
  background-color:black;
  background-size:cover;
  background-repeat:repeat;
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  height: 90%;
  width: 100%;
  left: 50%;
  top: 50%;
  min-width: 30%;
  margin: 0 auto;
  color: white;
  border: 0.1vw solid black; /* Use vw unit for border width */
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #e1dccd0f;
}

.header {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 57px;
    width: 230px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.557);
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 23px;
    color: white;
    font-weight: bold;
    font-family: "Times";
    letter-spacing: 3px;
    text-align: center;
    padding-bottom: 55px;
  }