html, body {height:100%}
a:visited {
  color: #00cc00;
}
a {
  color: #00cc00;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-image:url("images/games.webp");
  background-position:center;
  background-attachment:fixed;
  background-color:black;
  background-size:cover;
  background-repeat:repeat;
  overflow-x: hidden;
  overflow-y: auto;
}
.container {
  border: 2px solid #38fc04;
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
  height: auto;
  overflow: hidden;
  position: relative;
}
.header {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: auto;
  width: auto;
  border: 1px solid #38fc04;
  background-color: black;
  position: relative;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px;
}
.info {
    background-color: black;
    text-align: center;
    color: white;
    border: 1px solid #38fc04;
    width: auto;
    height: auto;
    font-size: 20px;
    overflow: auto;
    padding: 5px;
    box-sizing: border-box;
}
.sideinfo {
    background-color: black;
    text-align: center;
    color: white;
    border: 1px solid #38fc04;
    height: auto;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 5px;
    box-sizing: border-box;
}
.navbar {
  overflow: hidden;
  background-color: black;
  height: 50px;
  border-bottom: 1px solid #38fc04;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  cursor: pointer;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 0, 0);
  border: 0.1px solid #38fc04;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  color: white;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid #38fc04;
}
.dropdown-content a {
  float: none;
  color: white;
  background-color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: black;
  border: 0.1px solid #38fc04;
}
.dropdown:hover .dropdown-content {
  display: block;
}
details {
    margin: 10px 0;
    text-align: left;
}
summary {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
    color: #38fc04;
}
img {
    max-width: 100%;
    height: auto;
    border: 1px solid #38fc04;
    margin: 10px 0;
}
.container::after {
    content: "";
    display: table;
    clear: both;
}