*{
    margin: 0;
}

body {
    background-color: black;
}

.container {
    
}

.header {
    width: 100%;
    position: absolute;
    background: #1abc9c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 18px;
}

.header li {
    float: left;
    text-align: center;
    padding: 16px;
}

.links {
    text-align: left;
    font-size: 18px;
}
