body {
  font-family: "Arial";
  background-color: black;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
  background-size: cover;
  background-repeat: repeat;
  overflow: hidden;
}

.descriptor {
  font-weight: bold;
  font-family: "arial";
  letter-spacing: 0.07em;
  font-size: 1vw;
  letter-spacing: 0.1vw;
  color: white;
  overflow: hidden;
  text-align: center;
  padding-top: 3%;
}

.container {
border: 2px solid #38fc04;
max-width: 600px;
margin: auto;
margin-top: 100px;
height: auto;
}

.header {
  margin: 0 auto;
  font-weight: bold;
  font-family: "arial";
  letter-spacing: 0.07em;
  font-size: 2vw;
  top: 4%;
  letter-spacing: 0.1vw;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.return {
  margin: 0 auto;
  font-weight: bold;
  font-family: "arial";
  letter-spacing: 0.07em;
  font-size: 1vw;
  letter-spacing: 0.1vw;
  top: 5%;
  color: #38fc04;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.list {
  margin: 0 auto;
  font-weight: bold;
  font-family: "arial";
  text-align: center;
  position: relative;
  letter-spacing: 0.1em;
  font-size: 1vw;
  top: 10%;
  color: black;
  overflow: hidden;
}

a {
  color: #38fc04;
}

a:visited{
  color: #38fc04;
}