.Topsense {
    text-align: center;
}

.year {
    font-size: 35px;
    text-align: center;
}

.AlbumDetails {
    text-align: center
}

body {
    background-color: black;
    font-family:  monospace;
    color: white;
  }

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}